body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: rgb(2, 2, 2);
  }
  .img-container {
    text-align: center;
    display: block;
  }
  .button {
    text-align: center;
  }